<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Server</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,500,1&display=swap" rel="stylesheet">
    <script>
        function toggleNextField() {
            let password = document.getElementById("password").value;
            let passwordRepeat = document.getElementById("passwordRepeat");
            // passwordRepeat.disabled = !password;
            if (!password) {
                passwordRepeat.style.display = "block";
            } else {
                passwordRepeat.style.display = "none";
            }
        }

        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.getElementById('profileImage');
                img.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</head>