/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Satoshi', sans-serif;
  height: 100vh;
  background: rgb(15, 15, 15);
  color: rgb(255, 255, 221);
  line-height: 1.5;
}


/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
/* #root,
#__next {
  isolation: isolate;
} */

a {
  text-decoration: none;
  color: rgb(255, 255, 221);
}

a:hover {
  color: rgb(255, 255, 255);
}

th,
td {
  padding-left: 20px;
}

input, select {
  width: 300px;
  height: 40px;
  color: rgb(15, 15, 15);
  background: rgb(255, 255, 221)
}

button {
  width: 150px;
  height: 40px;
  background: rgb(15, 15, 15);
  color: rgb(255, 255, 221);
  font-weight: 700;
}

img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.login, .register {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.register-buttom {
  width: 300px;
}

.file-upload-container {
  width: 300px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgb(15, 15, 15);
  background: rgb(255, 255, 221)
}

.header {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  border-bottom: solid 1px rgb(255, 255, 221);
}

.navbar {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  padding-top: 20px;
}
.navbar a {
  padding-right: 8px;
}

.user-card {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.user-card h3{
  padding: 8px 10px;
}

td{
  padding: 2px 10px;
}

.form {
  padding-bottom: 20px;
}

.logininput {
  margin-top: 5px;
}

.registerimg {
  width: 90px;
  height: 90px;
}

.form-container {
  width: 300px;
}
.form-container img{
  width: 90px;
  height: 90px;
}

@media (max-width: 600px) {
  input {
    width: 60vw;
  }
  
  button {
    width: 60vw;
  }
  
  .login-buttons {
    flex-direction: column;
  }
  .register-buttom {
    width: 60vw;
  }
  
}